body{
	background-color: #1652F0;
	color: white;
}

.Header{
	text-align:center;
}

.signin{
	background-color: white;
	width: 1000px;
	height: 550px;
}


.Form{
	color:black;
	padding: 50px;
}
.textButton{
	position: absolute;
	background-color: white;
	width: 660px;
	height: 669px;

}