body{
	background-color: #1652F0;
}
.pageSignin{
	min-height: 100vh;
	color: white;
}

.inputSignin{
	border: none;	
	border-bottom: 2px solid black;
}

.containerSignin{
	background-color: white;
	color: black;
	display: grid;
	grid-template-rows: 33% 33% 33%;
}


.oneSignin{
	display: grid;
	grid-template-rows: 33% 33% 33%;
	font-size: 30px;
}


.twoSignin{
	display: grid;
	grid-template-rows: 33% 33% 33%;
	font-size: 30px;
}

.threeSignin{
	text-align:center;
}

.HeaderSignin{
	font-size: 25px;
}

.btnsSignin{
	display:inline-block;
}

.ButtonSignin{
	background-color: #1652F0;
	color:white;
	border-radius: 15px;
	width: 320px;
	height: 50px;
}